<div class="container" style="height: 100%;">
  <div class="row">
    <div class="col-sm-2 col-md-3 col-lg-2"></div>
    <div class="col-sm-8 col-md-6 col-lg-8">
      <img src="/assets/Images/logoTaraNew.png" width="30%" class="mx-auto d-block imgStyle">
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2">
    </div>
  </div>

  <div class="row" style="margin-top: 5%;"></div>

  <div class="row" dir="rtl">
    <div class="col-sm-2 col-md-3 col-lg-2"></div>

    <div class="col-sm-8 col-md-6 col-lg-8">
      <div>
        <input #username type="text" placeholder="نام کاربری" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
      </div>
      <div class="w-100">
        <div class="row">
          <br>
        </div>
      </div>
      <div>
        <input #password type="password"  placeholder="گذر واژه" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
      </div>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2"></div>
  </div>

  <div class="row" style="margin-top: 5%; text-align: center;" dir="rtl">
    <div class="col-sm-2 col-md-3 col-lg-2"></div>
    <div class="col-sm-8 col-md-6 col-lg-8">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!--has a routerLink inLine <button class="nav-item" mat-raised-button color="primary"
              (click)="callLoginService(username.value , password.value)" [routerLink] = "['/HomePage']">
              <span>ورود</span>
            </button> -->


          <!-- <button class="nav-item" mat-raised-button color="primary"
            (click)="this.callLoginService(username.value , password.value)" >
            <span>ورود</span>
          </button> -->

          <img src="/assets/Images/NextStepButton.png" class="Imgbutton"
            (click)="this.callLoginService(username.value , password.value)">

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- <button mat-raised-button color="primary" (click)="this.calltestGetservice('test/test.zjs')"><span>فراموشی
              رمز</span>
            </button> -->
          <img src="/assets/Images/ForgetButton.png" class="Imgbutton"
            (click)="this.calltestGetservice('test/test.zjs')">
        </div>
      </div>

    </div>
    <div class="col-sm-2 col-md-3 col-lg-2"></div>
  </div>
</div>