<div class="container" style="height: 100%;">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <img src="data:image/png;base64,{{this.captcha}}" width="50%" class="mx-auto d-block imgStyle">
        </div>
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
    </div>
    <div style="margin-top: 10%;"></div>
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <input type="text" #cpt  placeholder="متن بالا را وارد نمایید">
        </div>
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
    </div>
    <div class="w-100">
        <div class="row">
          <br>
        </div>
      </div>
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <input  type="text" #otp  placeholder="رمز یک بار مصرف">
        </div>
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
        <div class="col-sm-8 col-md-6 col-lg-8">
            <img src="/assets/Images/LoginButton.png" class="Imgbutton"
            (click)="this.goAndCheckValidationData(cpt.value , otp.value)">
        </div>
        <div class="col-sm-2 col-md-3 col-lg-2"></div>
    </div>





</div>