<div class="container" dir="rtl">
    <div class="row" style="padding-top: 10%;">

        <div class="col-sm-6 col-md-6 col-lg-6 divCol">
            <input type="text" #imobile placeholder="شماره موبایل را وارد نمایید">
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 divCol" *ngIf="this.refNo != 3">
            <button class="nav-item" mat-raised-button color="primary"
                (click)="this.showPersoneDetail('helpdesk/members/getmemberinfo.zjs',imobile.value)">
                <span>بررسی</span>
            </button>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 divCol" *ngIf="this.refNo == 3">
            <button class="nav-item" mat-raised-button color="primary"
                (click)="this.showShopCash('helpdesk/shop/getcashdesk.zjs',imobile.value)">
                <span>بررسی</span>
            </button>
        </div>

    </div>


    <div class="row" *ngIf="this.refNo == 3 && this.shopCashDeskCount > 0;">
        <div class="col-sm-12 col-md-12 col-lg-12 divCol">
            <label >صندوق ها</label>
            <select #cashDesk (change)="this.getShopInfo('helpdesk/shop/getshopinfo.zjs',cashDesk.value)">
                <option  value="">-</option>
                <option  *ngFor="let item of this.param" value="{{item.CASH_DESK_ID}}" >{{item.CASH_DESK_NO}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="this.result == 2 ">
        <div class="row" *ngIf="this.result == 2">
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo != 3">
                <app-get-member-data #openDetail></app-get-member-data>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 3">
                <app-get-shop-data #openDetail></app-get-shop-data>
            </div>
        </div>
        <div class="row" style="padding-top: 10%;">
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 1">
                <button class="nav-item" mat-raised-button color="primary" style="margin-bottom: 10%;"
                    (click)="this.goForUnblockingMember('helpdesk/members/unblockingmembers.zjs',this.param[0].TMID)">
                    <span>رفع مسدودی</span>
                </button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 2">
                <button class="nav-item" mat-raised-button color="primary" style="margin-bottom: 10%;"
                    (click)="this.goForMemberPassSend('helpdesk/smspass/sendingmemberpasswordsms.zjs',imobile.value)">
                    <span>ارسال رمز کاربران</span>
                </button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 3">
                <button class="nav-item" mat-raised-button color="primary" style="margin-bottom: 10%;"
                    (click)="this.goForShopPassSend('helpdesk/members/unblockingmembers.zjs',this.param[0].TMID)">
                    <span>ارسال رمز فروشندگان</span>
                </button>
            </div>
            <!-- دکمه رفع مسدودی  -->
            <!-- *ngIf="this.hp.refNo == 3" -->
        </div>
    </div>
</div>