<div class="container" dir="rtl">
    <div class="row" style="text-align: left;">
        <div class="col-sm-12 col-md-12 col-lg-12 DivebackBtn">
            <button mat-mini-fab color="" class="backBtn" (click)="this.goToHome()">
                <mat-icon class="backIcn" svgIcon="back"></mat-icon>
              </button>
        </div>
    </div>

    <div class="row" style="padding-top: 2%;">

        <div class="col-sm-6 col-md-6 col-lg-6 divCol">
            <input type="text" #imobile placeholder="شماره موبایل را وارد نمایید">
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 divCol" *ngIf="this.refNo != 3">
            <img src="/assets/Images/CheckButton.png" class="Imgbutton"
                (click)="this.showPersoneDetail('helpdesk/members/getmemberinfo.zjs',imobile.value)">
        </div>


        <div class="col-sm-6 col-md-6 col-lg-6 divCol" *ngIf="this.refNo == 3">
            <img src="/assets/Images/CheckButton.png" class="Imgbutton"
                (click)="this.showShopCash('helpdesk/shop/getcashdesk.zjs',imobile.value)">
        </div>

    </div>


    <div class="row" *ngIf="this.refNo == 3 && this.shopCashDeskCount > 0;">
        <div class="col-sm-12 col-md-12 col-lg-12 divCol">
            <label >صندوق ها</label>
            <select #cashDesk (change)="this.getShopInfo('helpdesk/shop/getshopinfo.zjs',cashDesk.value)">
                <option  value="">-</option>
                <option  *ngFor="let item of this.param" value="{{item.CASH_DESK_ID}}" >{{item.CASH_DESK_NO}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="this.result == 2 ">
        <div class="row" *ngIf="this.result == 2">
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo != 3">
                <app-get-member-data #openDetail></app-get-member-data>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 3">
                <app-get-shop-data #openDetail></app-get-shop-data>
            </div>
        </div>
        <div class="row" style="padding-top: 10%;">
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 1">
                <img src="/assets/Images/UnBlockButton.png" class="Imgbutton"
                    (click)="this.goForUnblockingMember('helpdesk/members/unblockingmembers.zjs',this.param[0].TMID)">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 2">
                <img src="/assets/Images/MemberPassSendButton.png" class="Imgbutton"
                    (click)="this.goForMemberPassSend('helpdesk/smspass/sendingmemberpasswordsms.zjs',imobile.value)">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 divCol" *ngIf="this.refNo == 3">
                <img src="/assets/Images/ShopPassSendButton.png" class="Imgbutton"
                    (click)="this.goForShopPassSend('helpdesk/shop/shoppasssend.zjs',imobile.value,this.param[0].NAME)">
            </div>
            <!-- دکمه رفع مسدودی  -->
            <!-- *ngIf="this.hp.refNo == 3" -->
        </div>
    </div>
</div>