
.background{
    box-shadow: 10px 10px 80px 15px black, 10px 10px 100px 10px black;
    margin-top: 10% !important; 
    /* border-radius: 50%; */
    /* background-color: orange; */
    /* border: solid; */
}

.divRow{
    text-align: center;
    border-radius: 20px;
    margin-top: 5%;
}
.divCol{
    border-radius: 20%;
}
input{
    font-family: iranSans;
    font-size: 24px;
    width: 100%;
}
button{
    box-shadow: 10px 10px 80px 15px white, 10px 10px 100px 1px orange;
    width: 100%;
    
}
label{
    font-family: iranSans;
    font-size: 24px;
    font-weight: bold;
}
.labelDetail{
    width: 40%;
}
