<div class="container" dir="rtl" style=" background-size:contain !important">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">نام فروشگاه
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #iname disabled value="{{this.cm.param[0].NAME}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">شماره شناسنامه 
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ilastname disabled value="{{this.cm.param[0].IDENTITY_CODE}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر اول -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">کد ملی
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #imelicode disabled value="{{this.cm.param[0].NATIONAL_CODE}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">نام مدیر فروشگاه
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ijoindate disabled value="{{this.cm.param[0].ENTITY_ALIAS}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر دوم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">فعال
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ifathername disabled value="{{this.cm.param[0].IS_ACTIVE}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">قابلیت پرداخت مکانیزه
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #idnumber disabled value="{{this.cm.param[0].AUTO_PAY_SUPPORT}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر سوم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">شماره ترمینال
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #isecquestion disabled value="{{this.cm.param[0].TERMINAL_ID}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;"> شماره شناسایی صندوق
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #itotalpoint disabled value="{{this.cm.param[0].CASH_DESK_ID}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر چهارم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">عنوان  
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ichangepassattempt disabled value="{{this.cm.param[0].TITLE}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">شماره مک
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #iactive disabled value="{{this.cm.param[0].MAC_ADDRESS}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر پنجم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">توضیحات
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ideleted disabled value="{{this.cm.param[0].DESCRIPTION}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">تاریخ عضویت

                        
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ilocked disabled value="{{this.cm.param[0].JOIN_DATE}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر ششم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">آدرس
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #iemail disabled value="{{this.cm.param[0].ENTITY_ADDRESS}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;"> طول جغرافیایی
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ilastlogindate disabled value="{{this.cm.param[0].LATITUDE}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر هفتم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">عرض جغرافیایی
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #itel disabled value="{{this.cm.param[0].LONGITUDE}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">نام کاربری سیستم
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #ipostalcode disabled value="{{this.cm.param[0].USERNAME}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر هشتم -->
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">شماره شعبه
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle;">
                    <input type="text" #iloginfailed disabled value="{{this.cm.param[0].BRANCH_NO}}">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 divRow">
            <div class="row" dir="rtl" style="vertical-align: middle;">

                <div class="col-sm-5 col-md-5 col-lg-5 divCol" style="vertical-align: middle;">
                    <label style="padding-top: 6%;">تعداد صندوق
                    </label>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 divCol" style="vertical-align: middle; margin-bottom: 10%;">
                    <input type="text" #icardno disabled value="{{this.cm.param[0].CASH_COUNT}}">
                </div>
            </div>
        </div>
    </div>
    <!-- انتهای سطر هشتم -->
  
    
</div>