@font-face {
    font-family: 'iranSans';
    src:
        url('/assets/Fonts/eot/IRANSansWeb(FaNum).eot?#') format('eot'),
        url('/assets/Fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype'),
        url('/assets/Fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
        url('/assets/Fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2');
}

.background{
    background-image: url('/assets/Images/back7.jpg');
    background-position:center;
    background-size: cover;
    height: -webkit-fill-available;
    height: 100%;
    overflow: auto;
    padding-bottom: 5%;
    /* z-index: auto; */
    /* position:absolute;  */
    /* top:0; 
    bottom: 0; */
    /* position: absolute; */
    /* bottom:0; */
    
}

