<div class="container" dir="rtl" >
        
    <div class="row" >
        <div class="col-sm-12 col-md-12 col-lg-12 DivebackBtn">
            <button mat-mini-fab color="" class="backBtn" (click)="this.goToLogin()">
                <mat-icon class="backIcn" svgIcon="back"></mat-icon>
              </button>
        </div>
    </div>
    <div class="row" > 
        <div class="col-sm-4 col-sm-4 col-sm-4">
            <img src="/assets/Images/UnblockingButton.png" class="Imgbutton"
            (click)="this.goForCheckMobile(1)">
                

        </div>
        <div class="col-sm-4 col-sm-4 col-sm-4">
            <img src="/assets/Images/MemberPassSendingButton.png" class="Imgbutton"
            (click)="this.goForCheckMobile(2)">


        </div>
        <div class="col-sm-4 col-sm-4 col-sm-4">
            <img src="/assets/Images/ShopPassSendingButton.png" class="Imgbutton"
            (click)="this.goForCheckMobile(3)">


        </div>
    </div>
</div>